@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.source-sans {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;

  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

input:focus {
  box-shadow: none !important;
}

input.bg-dark::placeholder {
  color: gray !important;
}

body {
  background-color: #141414;
  color: #E1E3E6;
}

.cursor-pointer {
  cursor: pointer;
}